rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Reglas para la colección de posts
    match /posts/{post} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }

    // Reglas para la subcolección de comentarios (fuera de posts para evitar conflictos)
    match /posts/{post}/comments/{comment} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if request.auth != null && (
        request.auth.uid == resource.data.creador.uid || 
        request.auth.uid == get(/databases/$(database)/documents/posts/$(post)).data.creador.uid
      );
    }
    
    // Reglas para la colección de usuarios
    match /usuarios/{userId} {
      allow read: if true; // Permitir ver perfiles
      allow write: if request.auth != null && request.auth.uid == userId; // Solo el propio usuario puede editar su perfil
    }

    // Reglas para la colección de seguidores
    match /seguidores/{relacionId} {
      allow read: if true; // Permitir a cualquiera ver quién sigue a quién
      allow write: if false; // Denegar escrituras del cliente directo. Las operaciones son a través de Server Actions.
    }

    // Regla por defecto para cualquier otro documento
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
